Source: lagrange
Section: user/network
Priority: optional
Maintainer: Jaakko Keränen (skyjake) <jaakko.keranen@iki.fi>
Build-Depends: zip, cmake (>=3.9), debhelper (>=11~), libsdl2-dev (>=2.0.4), libssl-dev (>=1.1.1), libpcre2-dev (>=8.38), zlib1g-dev, libunistring-dev, libmpg123-dev, libopusfile0, libopusfile-dev, libjxl-dev, libharfbuzz0b, libharfbuzz-icu0, libharfbuzz-dev, libharfbuzz-bin, libfribidi-dev, libfribidi0
Standards-Version: 4.1.4
Homepage: https://gmi.skyjake.fi/lagrange/

Package: lagrange
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lagrange - A Beautiful Gemini Client
 Lagrange is a desktop GUI client for browsing Geminispace.
 It offers modern conveniences familiar from web browsers, 
 such as smooth scrolling, inline image viewing, multiple 
 tabs, visual themes, Unicode fonts, bookmarks, history,
 and page outlines.
XSBC-Bugtracker: mailto:norayr@arnet.am
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAR6klEQVRo3pWa
 S4xkV3nHf985577q1ru7a7p7PB5PezDYGAY8xDYYIl6JorAAwSogJcoqCotI
 hAVSVkhRFFgkLCKxySIrFkGCOFKAiAQUZJlxLPGwMdjAeN49Mz39qK533dc5
 WdzqrqqeMVJKOjqn6paq/v/vfO9zhJOvi58FW4Qo/SzIpxB5DmQLkSaiFKJA
 FCgFSLkWKQezIUc/drRwC5MrhzsadmE+HhbnDsFdwbkXwT2PtS+h9JSffGMJ
 riwBzydgKhfAfQHkE4isIFpQCkTPgR+BRiGqXDvHCSIPes1Aw2y295OwFlyx
 uHY4tw/uO8DXyN0rGMURkfKf3ve52Vo+jXNfReRRRIOaDVHzWUrJi1KsNGq0
 GzEAg0nK/mBKmhczEosyWgR9NP/OHQBbzGdbzEi5N0G+hNhv48Txk28gXPwc
 eBEU6Wdw7uuIdFDmLcFrbVipx3RaNZqNmDSziBIcwiTJ2d4fcDCczrAvqJBj
 mcgxiRMElnbgBAmbg3P3EPk82v8W+QSDCcEWFxD1lRL8guSPSWgQwTMeH3vq
 PBfOb9Jp1Sis41c39njl6j1EFJWKz1YYEXWH3OmOsEcSP9Ygt6xK7gEqpApw
 uiQiM8kf7bwosEUH3FdwxWVM+IrmzMUAkb9D1EfRhnJ4oLzZbPB8n9Vmnacf
 P8vHLr4Nz/OoVkLqcUSjGqG15ubekMQJQeBTiyOMMQwSi5MHCON4nu2uWrSt
 BRtb/GzJ9mgjEoF8T/Pw0x8C+Ru0iY/BHxFRBu35nNtcY32tyTOPP8wj6y3G
 acGvbnXJLPieIa6EnFqpc2N3xCizhEFAtRKi9IyEOgH6GNCRaj7AQagF76Zk
 vp47itMo/ZJB6U+BWislsaD7yoAoqtWYZqOKiEZpjUMYJZbetODwdh+lhEc6
 dVYaMX/w1Dn++5VbdCcFrWrIqXadQjS3D8Y4HmTADzBeZcHqueooXeq/5Asu
 W4EUayCf0jzy/r9F1GYpeY+lXVCGdr1Ksx6TWojDgFo1oj/N6Y4z6nHIvV7C
 L24estmu0ahGbK7WuHpvxCR3hKFPNQrInTDK3FxlRC9IXT9YfUTeYq3mzkGU
 USi9Ndf5I/BHw0eZ8lnuNIeTgiR3DJOC3X6KE02nXSN1mu//4i79aUGjGvHx
 95yhcIphCtrzOb3WpFGNQfvz3zYeGL/8TIWgg9l69l6FJ7AsjGP71FuarQ/+
 PdpIKfETu6AMcSWiWa2QUzI/t97EIfz0+iFBUErYimZvlHOrO+XsapVGNaBd
 jfjV7SGeMQS+IQo9+okldzKXPIY1v8eH26/ymY1LfHLzZX5/5XUeruyRWp9u
 XsehZ5JfiLvH7wkMyqgjdZmPI3tQJFZhlcZ4moOJJS2gUgmIo4hbhynG86mE
 Pu2GY7ef8KNf7/PxJ09xZq3Ks29b48XL+2x4EXEY8NAKXNkt3avnMv6o+QJ/
 fua7XFjdplmxeAasg0kCNw6rPH/jKf7l+se5m9Rn4BdVqtQhzds+8uVlyS97
 IqUNK/UKxnj0ppYzqzUacUBvWnC7lyJa4xtNVkAUeNzuJWQWTrcrrNVDhlPL
 9mFCNfQIA4/CCcl0wp82vskXz/8r79o4ZKWpiGttgvgUflQlCgqa4Ygnatd5
 2Nzk573z9G1tlmotpCsiaB772JfnO3C/IVulaVUrBIHHOHNEgcdmu4IoxW/u
 jogCj9RCMUsvosDnyt6EeuixVg9Zb0Zc3Z8wzhwV3xAYw9PZv/MXZ77J2U5B
 q2EI648htWcgfg8SbqG8Op4MUDJi1RwQ5V3+t/8uMvGWMxSBufos+P5FEgWG
 YeZANFEUcONgSm5htR5SqwRMC7CiGKWOaS54nqFdi3jxSp+9YU4l8Pj9t68x
 zmBSKOrpDf64+h+s1griCPzoFFQvQuNZpP0hpPUc1J5G4iepRCHVCnxw9TWe
 iV8B8ZdxKoM6Bn+ShPKOv9RPLFYUke9xMCk4GOcEnmGrU2WQOEQ0nmfYHeVk
 ThFHPsbzeOFyj6RwbDQj3nu2yc4go9N/kY1gB98H3wjidyB4CInPQ/MpqL8L
 orPgn0Z7NQIPqqHl6finGMlmuOZuXi1JffGhnhv0MHMkOWhjEG24sjsBEbY6
 VRxCZiHwSsI7wxwninY1YHdc8PNbI5wo3n2mQSd0RL1X8fRiwioL/t8sROdZ
 1jtT+XVzh7r0OSlws+x5NOijKKyPw31mFf1pQRT61Bo+V7KcC6GmVQs4Pc7Y
 HeWsGEVb4MqdCdXQ0ax4rDUUP7894aF2hc2Gz++d9giuHpIWkOWQ5Y4w20OS
 O7jxNbAZ2ClMb0F6lyIfkuWQ5qCKCb4bl/jcvK4wc5d5wo0uScJxQM5qJySs
 xXStx82gxmPNgCeCKv+5PaHwLZUkIfa73NpPqISl/6+EcOnaiE+801ALhEJ8
 BmMYT2GcQDS5i+f9rEwdJldLEtPruPFrTCdjRlMYTWEwUeR2YadmmYlZ8vva
 LId5EVA5rPgMN1qMWivUa1VifH5V+JzzDRu+sJrEDPKCZpzS8SN+He5xdzzl
 DIpm7LPdS3ntzoRHI4++67DXh4MhxBF4OqXGL/HSe4hpgMux6S7TcY/eCLpD
 2O/B9rDG0MWzUlYd51Tm/lR3rn8whbUQNk5h6yvsezVqUUzV+OwVikOEM4Hj
 4prhv/YdNRMQa59Wrrm3v08jH9NIhNVqwM/vJKydUUzrT3Lzzg9p1SyBV+JI
 84wouI3Rt8v3GQyn0B3A3QPY3oPXR+eYhrVZBJ/X1mYpC10wHooRrCnodKDa
 gkqdronZMCEboWKTslzd8IR2DfZT4V5ucFrRaQndzLE9dFTUmIiIvvF49d6I
 t28+xfUrW1RvX0akBDuaQiUAM1PvJIfhGHZ7cH0H3rhX5bXivWDCOQHnQLkj
 FTpRNOQJhGNYOQuVOoQxBBG5H2C04rEAVkz5G1UFHc/xh03hfw4dQ6ewlYCV
 epV7acIeCetmzEpc49a+ZrPewZ35JK//9p9Jiz79MazUoRpynEpMU+gN4W4X
 ru8aXph8gL3aFvhBKWxnZ0QcZqmgECkf5gfQrENUAz8ELwA/oOErVhWc8uCh
 AHwRfHG0jfBEDDsJXElg6ik61YDDUYWdZETTdImKlHq1wq+HUy5uPcPuqMdr
 N/6N/f5+SSACTy8TuD2I+Gn+LG/G74dKs6zdRYEFxIEozLzymalONgZvCpXT
 JXDjgTGI0XSMsGqgoqDjQ9srLSXW4CnHu2vCTuqoKWHkGTpxwK1BwE4inGVI
 PVrj1rRO17N0nvgwd/wWP37jR5w6vEzDDPBUgUUxKircsQ9xzVygGz8G9Q2I
 GmWscm4GvtwFs1REOAdpD5p6lqvP44NWQl1BTYMnJeg1HypaGBcOccJGABsB
 3BqBUsJaaOgGHnt9YSUbUvOatOoxlyfCR9Y9No3HHdfhZzu3aboukk/oJsJQ
 10krbYhaEK9ApQVeWBquLRYE7jBlijqTvi0gH4Bfnxn1coNKybzLkzvQAoGC
 fg6pBYXj0YrwwsCROvAVbFQMb6LYGY+I4zHVsMp2ErOrIrbOVrjgN/jBa22c
 JIgrYJKTJgr8CoQ1CKploXMM3s2Hc5il/NpmUExAGvfVq9bCyMLEwqiA/Qwa
 afm+nwm7mSPSQqwdm4Hwm5FjwzmantAONN3xlIEMaEQdmrHP6z3LY+sx5+I6
 j2ZNtg+GtEOHySyDw4KMWVxCzTAsgrfHafWcAMyaR+m8iVQUUORQ5NiiYDdX
 7ObQSkvJOwctr5T+jSkYBaGBrQhecgWDJKfuCjYjzcAV7BwOqLUsceBzu++4
 MdQ8vlrnwtsCbv6yh64KNRxNk7A7TOeNLuuO8/95XVySUEu9TGchzyBNIUsh
 TyHLynWWsp9Z3kzgWgJXJvDLEfxmDDcTOMiFSz24lghGHM9WCw7HCXmWETEj
 Mc4YJBalFLXQ8Mt7OakVTtUD1psRI1u2cVaqAUrr5UIetdA8nldn6jgbPJoL
 B8kIkgmkU8im5ZxMKKYpVxLHqxN4bQKvjuDlPvx2AjdTeCMRvn/gyLKcrbDg
 0SBnrz+CdMqqL9SjCrtji0Wohpr9qePOwGK04vFOwCgFhxAHhtg3J6S+2JGY
 V2VmqWBWCvBg1IfJEKajMg4Y7zhSp8CVwmcnF2paMAJrHtS0I7WO7X7Cwzbn
 7WHOMy3FnVsjhoMetSzjoXaDq1YxzoWqL0S+5vW9nDMNzUNNj4qnmOYQGaEZ
 GQbTDNwDmlpHmEUwS9uiDHg1GFyHYReiahkLlJ53mW2Oy0KGns9QaRDYEcdj
 oSV2Oa0i4aXtCesbmroUfGDF4wdv7hBqRbRSZV2H9FIh9hW1ULM9yOgljlao
 eaTtc3lvSuQJ9dBgtCJ3tiRx3LKXpaHmBGatjrAFkwJ6e9A/gGEPxgOYDGA0
 KHdn1IPhYfls2Cft97iz36MYD6nmY/LxgJeu71FMx2zFisdrit2BxnkRzdgn
 9DSpBV+XKnHtsABgq+2TW7BOiDxF5OkFsDxwbeZkVBnpwioEq7B/p1Qfrec+
 OM/LPMkEYMw8VjjHgS2ohWVetOomXN3e542p4Z0NzdNnN9m1FQ4yw0rNo2lK
 1+iwxIHm6mHBkx3DSqypB5okt0RaqAWawUSWuxGy0BcS0Fz8ky8vnQE4V1p4
 b6cMaqIWevp25lqz0ltl6bGBk4yZjIbU7ZQwHeOND3nzt5d5KIBm6zSdzgZv
 DEKcCQi0EBnwFDjn6I4LHmlo6oHQHRfsjXMiD4rC0h1nb92Kd+6IwInu8KzW
 4fAW5KPSFx/FhDybudekBJ9OYDqGyYBi2CPtHdDIR4TjLll3l5tdw7mtd9Bo
 NmhUI14/EHwDRjlOVYTcOnoTS92H9aomLyxXD1JiX3DOsT/KsNYuAF8mYcqI
 gJo1S8scKKxBfR2KFA5eh+Q6TEYwakKlCkEFPH9WO1MSzDNIJxyOh9z1Ck7H
 Aa3GGXb0WV68DR9p+TzS8nh/brm0naEjKCxsVhX9iXB3UKpRq6LxlGAdeErw
 lJC/1XkbYg0ih+Da84THlHnIcbvbQPcy3LsFg32o1GYEglmon0XwLD3ejbuE
 ROffy0rzUdaqHa4lMT+5Jzx9WnhiTTHNFD+7m9L0hVZdeLRl2D5MSQtHxRNi
 X7DWHh8THBfAnFiLHBqUvoKz7eMHImXyFNRnamXAj2FwF0Z3YLwHypXl03F1
 dBRHKhBtYusPc5NNAq9NLW7SMTGv7gkVv+DJVeGpdY2zmsv7GesVRdUXTtU0
 vhKcE2qBYpjYxcrxBPjZrPQVg6gXce595Rdnh3FKlZ5G6ZKMH5beqb4OyRDS
 IeRToCiLIS8qM9ioWaa+lTZpdZVrWYPzEhEZzWoFXt7OMSjesSJc3NDUPMvh
 tKAZgK+hFgi+0qxVNaMkJyssWWEXDkQWMJau/0WDqOcR+1lwa0uUlQYVlK7V
 C8sdycZlalHMEr4ju9H+7DtVCOtl8RHWGauIawNhS1sCBe3Q8dKtlKJQPLGq
 eceqwVnFjcMMK6W+B9phlCA4uuOctLDcvxUORHYR9bzB2Uso/V1s8WdzK58N
 pcpOnfHAq4Ctl1mqzUv7gHIHjkh6EfhRWXwbH5Sin1iudi3nGkKgoR3Cz26n
 TBLFhVOG01XFeuzTmxRMsoJR4rh+kHC7l7IzSLkP09FJp+jv4uwlgwkSbP41
 FM/h3Pk509mXZQbSKJBgnlIcJVWLPaXj9qSeGzfQm8KbBTxSFyoGWhFc62Yk
 Wc6HHg44FSuMgv1xwaWrQ16+OaIoitmZ8QKeuXZcRvTXUDoR/vJ7EK9B0vsM
 tvg60Lm/V2SWz7fuu3pw8pzrAdcNnCMycKYmNAJQzmGtJTSOdiB0RxnbvYTr
 3YS8yJdP6O3CgHso/XmC1rcY3539y1/9EJwVRH8aZ78K7tHl81y9cBj3FtcP
 7juEkwfek9A42iGsRqW+54XlTi9l/6iAwT4YvCsAeRNRX8LabyPi+KePLvzL
 X/8YogqM+hdw7gvAJ4AVlJL7QT/gZFGppULjwbdV5lFUYTFS7kJ+rC7F8vUC
 V4C1DtgH+Q4iX6MWv8JoCv/4gRO3VY5eX7wEeRqivWcR+RTwHM7Nr9v8f6R/
 ROR3XjE4cUeiJGBxHCJcAV7Euecpspcw/pR/eP8S3P8DdrxSi9XWdw0AAAAA
 SUVORK5CYII=XSBC-Maemo-Display-Name: lagrange gemini client

