Source: lagrange
Section: user/network
Priority: optional
Maintainer: Jaakko Keränen (skyjake) <jaakko.keranen@iki.fi>
Build-Depends: cmake (>=3.9), debhelper (>=11~), libsdl2-dev (>=2.0.4), libssl-dev (>=1.1.1), libpcre3-dev (>=8.38), zlib1g-dev, libunistring-dev, libmpg123-dev
Standards-Version: 4.1.4
Homepage: https://gmi.skyjake.fi/lagrange/

Package: lagrange
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Lagrange - A Beautiful Gemini Client
 Lagrange is a desktop GUI client for browsing Geminispace.
 It offers modern conveniences familiar from web browsers, 
 such as smooth scrolling, inline image viewing, multiple 
 tabs, visual themes, Unicode fonts, bookmarks, history,
 and page outlines.
XSBC-Bugtracker: mailto:norayr@arnet.am
XB-Maemo-Icon-26:
 MB5!.1PT*&@H````-24A$4@```#`````P"`8```!7`OF'```B.WI46'1287<@
 M<')O9FEL92!T>7!E(&5X:68``'C:K9MGDB0Y<H7_XQ0\`K0X#J09;\#C\WN(
 M*-5B;8?<KIGJ[,P0"+C[$PZDV?_SW\?\%W]JJ-;$5&IN.5O^Q!:;[[RH]OG3
 M[V]GX_U]_X3W(_[]XWWS^8'GK?!U9,WO\1_ON\\+/']U7J5O%ZKS_6#\_*#%
 M]_KUEPN]-PH:D>?%>B_4W@L%_WS@W@OTY[%L;K5\?X2QG[_7QY/4YW^C7S[X
 M_5[L&<4O_XZ%V5N)^P3O=W#!\MN'^!P3]+\SH?.B\=N'QH'ZN:_Y'4-Y1\*$
 M_&F>[+=1F5^C\OG*_>7]7X(2\O.^X8V?DYD___[C^R[]>?+-G>+O>3(_[_SC
 M_=+=^?5Q/OX_9U5SSGZ>KL?,E.;WH3X>Y;[BP,&4AWM:YJ?P?^)UN3^-GVK(
 MWDG(EYUV\#-=<YZP'!?=<HS"[?OW=),A1K]]X6_O)X'2>S44W_P,9+8C.ORX
 MXPNQ6J$2LTEX`^_ZS[&X>]]V;S==Y<;+<:1W7,QQAC?Z]9_X^>N%SE'*.V?K
 MYUPQ+J\491B*G'YS%`%1&)X\2G>"/WY^_:.X!B*8[C17'K#;\5QB)/?FEKG)
 MK$`'#DS\_=2:*^N]`%/$O1.#<8$(V.Q"<MG9XGUQCGFLQ*=SH4K1^$$(7$I^
 M,4H?0\@$IWK=FW.*N\?ZY)^WP2P"D4(.A=!03,0J`FSD3XF5'.HII)A2RJFD
 MFEKJ.>284\ZY9(%?+Z'$DDHNI=322@<98TTUUU*KJ:WVYEL`'%/+K;3:6NN=
 MFW:NW#F[<T#OPX\PXD@CCS+J:*-/TF?&F6:>958SV^S+K[#`B957676UU;?;
 MI-*..^V\RZZ[[7Y(M1-./.GD4TX][?3/J#GSA/6WGW\_:NXC:OY&2@>6SZAQ
 M:BD?EW""DZ28$3$?'1$OB@`)[14S6UV,WBATBIEMGJI(GE$F!6<Y18P(QNU\
 M.NXS=E^1^Q$W$^/_*V[^(W)&H?M/1,XH='^)W.]Q^T/4EMAFVF!NA%2&FE0;
 M*#\.V+7[VD5J__;?YI^>\,\O-*(G9[,?G6BMU0CLXG%B/60`Z13:&$!E"=1Z
 MR<EHYG(9G2SS3GDTSUPICS/$A6<<5W8N9_H.6*8Z^<B[$G/QL3*_DR"/OF<W
 MI1)MYHZ$V#W[GO0R!U=^NU(]>Q*LL\],I[5S;`>'?8N,?QS3^R(13U\K`M]G
 MN/[;V7FT;V<C"]9B^/<"_71R#_#*9G=7$[PT2CCKU'&XZG:QG.S3/*=L?R9_
 M5X:]EXO9M[.2;W7LT1)QYT91-S+?[Z0!^5V^#6A`5LG5'G8OY-U)LU?NR-&K
 MMA^W-G^X=XDZE5&MN!$UJWAX32?_=J3[>A3S7C"-P\GYWKO%67[<>_WVV"%Q
 MR/?'=B8Y:BY2]7?6SLJ:-,ZKI[A?SH[?SX:]4V8`G$[5GV42DFQEK].9QN9^
 MG$YF[+S:7CG:NE,4U!R_T%T0Q7[2M=DP1JC&VQQV\IY:SYPXUN3'M_UD%`^A
 M-%\HOL'$+;3#DXR#L[(/,'=F$MW<QFZ[Y]RSQEO[$%A,9#API!?`Y?>_<UU@
 M#XHZV7#'X0'%XYO;U835@7H+8F4P;N=N2?@!*G'?-&9/E%FL?M1MN<],XL.>
 M2,BQ,@4#DKH=YR8AX]Z31.\@=JCZ[>(FI5SJ'N3<8"T?HG5\SJY9PH+>]64P
 M44!1KB%3U:L&,U>(+?B!L-;(*KB$@**D2B\^,W-[>C]:6[4S[EK\<6M6D<#B
 MX9PJ;O!HS1"F3+ZG60%XS_!`BEN0FZB<R*R>4,\$'-<Z9.`6-Z1C]P*&D66=
 MHP,X8.P,*@5"WS>Q7&'/5F*89^VU%D:"9P3S-Y]$YJEF9?N.;U'MZDD'9FH;
 M9S>!:'Y5)AI86S-X$(I!]CI]6JU-\!TI"+)[D+CGO$(:K:0L\52!I`/*1Q(R
 M1SZ>T!<)-W,($_QW*\Z<.I63&?R"2-+279@S#BW@>];<#G)F#-)C<"'F^;1:
 M8_\X@]QLJCKFHN_H4]R$+7'*3$(17O*/FGO\\9GY^C#$1)@M.=U)[CY(<)N3
 M_)O38[]U157`?TX,R)USAK3@JN0->>\`:/O'_#\C98BU!8BYAA'"*G^K`.-(
 M[=6)%%1;\3R=JB;0P0&H"&_J5`,C3IY`9SX!(BE*"%1*M&QD"2@3CIE3:$(^
 MG%B4E&$.PA!/&([`)$JX+;C%X^N*BQVPS6T+<L<@BI5:TV<KF5JYS6;B8*L]
 M-!FR73`X3XN*L`B2=L8Z/`P*@WKL*[5Q>IY^'2IR`Z1*13-AM];1-G%XC`6I
 M2Q2/6)QD3RUHHCVP5L`*I37P2_E@)="ML`9'IEI.LZ9O,K?"<''BM0<:!5TL
 M=&B31VDN@UR16/,Z]%VHQ3-S'VD-*2]=J/3>:C*6S(GR(]`B`44]M\8@^P%9
 MVLZ:J;B@2@!QI[30EE?IS29B`8(*M)B8"WAMI^862,C3@*.5`\+:L#,R&U+*
 M<X,#`EVJ6VG<W(S,,LQ,A.HNHQ3>0D,F--U$"I#9B+)E-^'=PR.?0$Y*Y,R-
 M]*_34;A[*9?#6#SG'B0MDJY3E#LW(Q'F%.2\#W1-QBIVB#7*9?"$>?D`NF(B
 MQ@:C%J79'`D.&!9@/:($F8+8%35.08L`@PC%'E5JT"BQ@A'R4TF+P@Q1^F_8
 M%9X/ABI6M85*`T>,8XIMXS"$"P](73.W3%[316>%A2A%*O&I6"B0T%+2"W$L
 MS4"Z(Z0]P.:0`C'P7*U*BHCN1\)<;J0XB42)C`&`AK12=?Q'"J@R>E%E.+AR
 M%>H<J(VH7%0EF@PD&0HR&9?S4Y.[@,8?A.00M\[.I?*"R%5@1*-$#UOX8<!8
 M6PZ:Z((G6H7<%H%2*+4C8"WB#6W-!"]D"L+&$J*M=DP".+G"2"1#&G@130TW
 M*P=E6S[*2B(GI-+ASH40A\<WR><$'^CV#%JX:Z=WTZ`*L@:MX!/*TMT1I0Z.
 M2FV2/,QT9X@+=1XP*C!='9!I<`Q)Y$`&HLR96:13"J:1+6`\LHKTGX`U!8AD
 M@(*HY%YP&T#U[18ICW0/O,#!<T(7T*WC0-S5#H:9'98I.G@.TF=6Q@O(DBBA
 M(D\IP#5+VM&"-568@7XZ)!9R"B"!#1`FDXHTH`IT7B=6#,1-U"B2E_PG\,VZ
 M6W4;`0S,!IR$D/<@X,@9F(':W:4I(5(Q*W!SOY>H[PS8VD>2X>1K3A#CE,X&
 M:9A$]<T(STX6&H/\TQ;^!48<@LM&$KT08Z:NAE!`.:*Y;5&^DEU<@P*-<#,5
 MX@;HQMG2!Y@`&TD;D1OSF`TT'52_@6%5Y(GX+5,R8)+$FO<5ZFVXO2`87DP9
 MP0^%@2ZT/\3@W>P'Y1]+M[)-0,*"6J,$+`%!E49?R*\]MQL"G&ZID@FG437N
 M6@TJ3-9BSX3)1-52K`?IOI2Y<UU<SM?_67&S=YVY`UG(F*RIRQ6SPZVDQ#<*
 MP:,W":PI%TL'-]@0$E+8SIK%EI0&25+:F+Z5N:MEWM?H%Z6A$892Q086ZU$J
 MJO:D49BT0W5PB`O$`A6!2`B\I[+K(Q[]&]L?KG^\&FFZJ%IT0W@,(@Y#12-3
 M`I(^Q)4UKD!2,KJEX'JG&47RI2LZKV2.X!O@@0=G7DETP!4U:*"#LJ",^G(]
 MS`8@H5PICCAP]"!3A">E6.9)]U*G,(<P3*2*'<6*0CN&+(9S#BKM,$^-Z?"`
 MD0,P!9-5`"D]W-%,FW2!D:E5K)XF@JCY#X!#C);8]2'LC]Q]/O$/]#D90*F6
 M!8<`)#">(`YY0CW9"W>D.^A0RS#"M!UU?2@$[JT=C2C`XL+VN6]E&.=\?7SQ
 M#`5C<:=BS!R6_!HB!#I"Q+>KQO7R`M]ZM$:4UHC`@NU1ZH*C27IT?R.K$<@`
 M>9@I0$>8CB3=W.913\L5+T:</+#^0_3NADP`)"+E'42#;5&H$[*963$$`0`>
 M(YR=S"I"'.G9&"<1I/YY!.J/YT+55V9G"\1`'N`EDTMXT5SFN``H(*'6*#Y)
 ME5X;=0!_N##0>E&M5%5\QKVE!+K:Z;<,?[S"MPB4W0!ZW*B"!1,REB4XZ39`
 M$14$+&#HP%68'OL`M<(HFW$&;K</"M,)VSS3T*]1D-'<Q6@HU'136R?NCCAL
 M3?+@<BB^BC_('LP8"5&N*UT!C,4J(H`8PXPB5QXM0W/$5,@5*_?=@\%YJ0=D
 M.)CLO.RPA0?5S,DH@$1N-N:J+I``_4Q-(RD,+A8UC`('1.$PO,W8DG)]5G!Z
 M4+7(LH*74DD"#PW<1_1R]U2F.[!LX`E[,.!)ILC0YRB-,[%&H0RY?'`>PB1Q
 MX%XNE#HN!U^2BX0/,HE#"_*0G.P+96)04.!O@F$3`,4HL2&'BW2.[S#2+(BT
 M0,03BHLWT5ZA4B+D-L2.:%.'/+1@EE3*)BH^`>Q@(??+_D#-%:.#[D8,H_H.
 MQ<7XJ&2]%'D"D`F/H*=.WG;F:#X5FAWR-$R)"#$JR0?8<R&8:IQ-U-"3H.5$
 MA[0,DI$.1!]*P<$2:;.S/58=GBA)VKU_U#J3GX,47Z3J)3$Q_M0H!(/*![X#
 MWDT0R<<MJCUE),FPK.?1S.(%,!>M7@!6U#EJ"XBAQ/TAE#5>0/[X>%(+S&X/
 MU*11<'N.K[#RI/.'WZ'TMX3[PFS_@)E^<:0E(>$#,Q"-`6?\\_FP%V<F>I6)
 M0TSIJ<49\T$7G5Y?)&&877V#0F"J_#U^3>8&\*[8O3K7"+'$22+N5)G?_>@W
 M>'RA@7DD/X`-+H8^"KABYSFN@C&X;'((W4O=+WQ,4%]!ZFSBI@9,$0[6CHPE
 M(0-8-=`)(#2?:ZQHKX%,TSIA,#D&SQ@0(2NAH1%=D!$VDP^A;R?OEN!Y,N#X
 M(*6R"1;2`E,8-,V>8*%N*)$F^FX`0X.@XF=O"#6G=V\C!5]$IK].7T0TR7D0
 M<';`%$&V&01T9$DND)9#Y(JV9%D"O^7X!_4@TW6`8ZPGGL?+BW'J:EJ'"^I=
 M4!\Q!C,Y`!W"[$)X*%?4`U[^X$6F1]H!OGAG3.,SZ6IVRC,AMD"#)F?ED?N@
 MKIF5</-$0^Q_E5HC'@`V'K$!\IY'F\BG7<50`ZH=ZK(BFS9WHT27[(5O!N?>
 M*'%UZU!0?1S*D,+Z@!QTL)=6!XW5N`+*((+B-5^94^%/-9L1N8:J03D0:ESR
 M4<G"\JB8`^<39!["D>WVH@[9-QI%@\M&E7&UO&1N(]![HJ%"B3?S7DL%09CQ
 M?1=GPK[SO0[#/LQK!^](1LJ4^W4!TV)Z`2:[$-/@$1):OHAG0C`GIH]QDBK(
 M)*Z)TZE3J,G3A0GNP0\'D1$H=:N\W:5PHU3V,G:`1Z-B:H"/,"AH)$8M8!"R
 M4FQ-L1RX#RCZA*ZFX0>UP#)5LE"8(S%'*+TD;;GVD0T(,#?QY.DKQ0D15BH!
 MX;0M.G5$;,Z98(AK:%7.B%K&`'C-]NDBS?R!-!)_5+@O:`V]C\F,%Z?B_;CM
 MVWR%62=N:J.'LNFW+8]X7]SRMNHM4#]O@(E\D-P;5?DXN#S:`X<%=2GDY6HI
 MZAH(]P86Q\:!Y\H.8(C\02"01Q>R7LFCA7_D.,A7P2#*GYP@`.A\`GED][(!
 M%D!0*GO#.%%4$^%FQB$NV[B?I,2!H3J1Y+%:N*:Z.]@"W5'X#/FSFM&R2AWE
 MSH1X!HH]\%:&Y/#U5$SM>D3DY@V&YU3PQ2.U(2O@=&%HE/>&2N.QX`]U(8:P
 M!W"(:!O`5@76#G*$^S.MW%FNQFM=0`Y,[5$)C;YPX$9<YVK>,#GJ`:`7Q.`G
 ME)W1$0'DZ5*C&MG>M'2,(^V\R&02J0]%4M+=.HS?NBT9#Y\GK0?84=[$BQL%
 M#6\AYB21`;18?,*V2"4Q^4JOM6[R>2^H1;^E/-V]"V2#][=)UL>K%>(V9I]X
 M\G2*0)'2H]ZPJ#PB%8O.0U7&9+BO!U<\<(^L`Z,AM\XL)@Z0&G`(W`R>4B0>
 M?X2ZX`P1[JP<``(-"M3::+B%'H19R&JO^Z3F(BKTHB@FED$A[:3[2<5IP5LT
 M*%(/L^N#]'2VHS*A!M-",I.&F$8<'](C(8120,]+-H';QQ5P8YX<>B6[(W(5
 M%(=HNSPCSFA)%E!K&#]B!A2)_2*'DJ@GQ(MR$5F"-^`=2Y3!*/`?V:9[J-86
 MH@VW[D;8IJG/M&4=8Q(N/27:J]=*R2CVZ];:K($['^0%WHTD9$*>RR7(5,L9
 M!X7.]8`R2G^2#.KO+Q(P-0H!!`&?P.\CVAMKU^O')&^QL$-M.ZVIF5L:Y"O5
 MV'.W^(.H1D"@2I'#)+2]SX:OD7,8)!#(R82VB*#%>"4/C5%-IFU9/`<*@S53
 MW5[95:2BK0!*4<>/Q$/*::4583)[*J">UT(`F0H^(6N`IRMK0`ZL(^@-E)%D
 M[86R^0%EN\;KU#4E6K2XZVWJ-D6DPB.LK"$R7Q9N@UE%F-7\T[5R%PG!+32F
 MAUVU>E3E1Y]#/F%M%9.I?N8/.[RM^O=M3U('T[&<10%W<A.>YFPI?2P(>4*M
 M)G7NJ02,_L!VCQ5PD!L,P=-M,@;'M088K@Y$2UWME*EW.U:H4>S$`Z$$0_5'
 MJ$^,H4[$$)NG%<:S\ADI=Z^+CG3`[E>CC)*'X!PQ@%;@F"X4O9?"N[LLRVP<
 MHGA0LFU6)E/=B[MLYS*P"`2<R*.`E@G5@\10(Q+^B^A3:9N[..81=UKOCQ?X
 MD-=,B1HM"JX@1.OZ_!O'B??J)%X61SNRM5VW@%]BZB-3P-/V:>*P2>OF@%Z#
 M")H0$ZC\N!@\2S+5113"C,Q4[@7U.K%D$TI'`%0.F\D9Y31,!*\!VT"-2&*`
 M/2TT<%8M0%!GN<D$CTH1I`YE8DT#VC=K27H`X6J,XRF*MU<A9?)AD6\%SA+F
 M8F6TC\"C%54E&)3M'L(I"$WOF!(`(6NX1`UYS)0V=4D3+C-G5/-=/`D>Q')J
 M8]>"-26!R+*-9MN5*=M-X=`2T(!?ZMI<B.E&1R)#^0]]53,\C[>)57U-P8^6
 M;EOSVF[$;$KXM2Q-#=11R"YJC3J8MPTN]PNJ,GGBMW87SN\JE2[#?(,MC6.T
 M5NI54(5K!JU#(#.T=#3-[H>GK[<)`5A7&U'"N/T,<MCKO)"-:P$$\%%+VA8"
 M[."=/2%(+N"LAZ)G$&4PHQ;AR%>O'H]Z$T-=<*;\J=)^Q0<HIRIU3QFK+0@4
 M78P$9YAL-$>2&[MP@N[%J8<AOW%K.`X<"W`SFY+Z]GP(S5$3^P,Q#AKD;/,%
 M&?8;9*!WZSJV/>(FY:0;V:(;42S2S<MN4'V"Z2!_*<$(2,?!`R3Y!#7`N0?A
 MF;&)5P6=Z#R[U;19,N3"0T!Y%Q1_GV$"#\@:_!IG7J@@B.ASM<^;M%%46@][
 MB[9$W%I:19L=\(4$KVVY=?5Y"B4I(6[DS7QMR'/2D3$M:B?'J`V-U"8F%<.K
 M[5)R2%ZM(VIT(8_0M?G!+"`Z.VM0WXM\X9BHI=)X`HBHW%]JGA8^J?*_3:2(
 M'$)3VP,34=MUR9@CAPL55K7_"&%#@*&:4,].'AT'8=K>F76\D5N$G?1C0OFG
 ME=:_MT%3)`M*%Q)O9F^T9D1(P]Q*RJ+U\MO07^H#,K=>TDJMKA0"1!?!SZIE
 M3`RA)2_O(F(%B$QD9(CP5($QN2E0.3(;Z$.G'06U(`<+20HHH4.8.C4J2I=:
 MIA@D!^UM"QGI;R(011ZZB2(QM,V!FD/^-'NMB>15;Y+]":=;XEVAMZ(H!%,*
 M2"%C,8A6QA%%A9X:EL\A?F0"O(?XQ;D^1I4T0(HRM(1517Y'U-(\E$&J@7@9
 M+'%0@\<+RF*V`.R2OV-`*/B@I>VA=1F?U0RD[+18RCD,#&%OM1.B:C'80!L-
 M&1*T_0)L2)1%%+L=+4T0O2I>T1R#+!A_M*9:E)P+@Q78@X2)*AHNA$^T1:X>
 MV8`0<6J$ZL$M`9JD(L*_:1E2&M_%%9+%)&EUC&ITVN]RBUXBPKY5SW6!B;'5
 MGE.3[5D\G?95$1M]G"C3LKL(4`[V&RH8P0)"(G["`K)+L*!%G3^@`E6D>SWB
 M0G<;4BSVXM&^PK%5&;0%,GZ!@_83O=B0M1?T45P\X3Y6514I>.U64VQ-TLH0
 M")%N2UT*3!P2%O0^[DK:I7@BKYXY28\9P!<O)A8IK:T)R)$^\C+JS!)9E7K+
 MLEC#N:A%OP"T%L>%H*_@R%(U;[A*8PJ(:CU68(%Q1E&?Z-3U&RA_"+AIK:BA
 MVZ?8U?NY;Q=X!.VLXST7CPL!M6TQ_:T"BY1#QB(LP8IY<(6'RT!?)Y96.ZFT
 M>X(TBIB223@137+@6`FKA3LX>LVMK7?J:F"H\I8[VO+4=HH.RRT,I#S"@\=+
 MZ^X950=+^4>=!^TK>YH;27P-[&C!<?9FD,JR"J`598/\'_LXK1=!I"6")SDS
 M1"RJ&E-H!.T'UV84LC5.7TA>/P&ON8WNQHTP<)&K9%P=6D#+,.J1]-=!<$'F
 MHB>0T/M:!ZX67"%X:F6KJUL1HXCNX9B$3,XY``P6`(JTVP1[38TZP$#D(">$
 M+B`E4K*^,@J\*%`+#N$HLVFH\`K(E[*)B]#V;=WQ3S^S_"A.CCDI@5?PC;:E
 M([K@8_(AHG4A9AA5F'W$T^XNJHX*NC*G_>!E%SX!V-DV`Y\B-SRS%,?88G6)
 M6N0>3C5([IG6"$M1OFBI!(<`,9*J]5%0E>%1"]KX'%$\/'E4MP1#=,:,=JBK
 M`0+U7HV2=:$L4'<`?`8]@U3=HCJ$)>H<((`0QY_`\!1KNL7Z`H.ZQWV3U10J
 M4B[5H3Z(-HA;1!FR41Z`8DN.E,6EH4S@;YY4391S^P+S8^<C3(M6N.B4T]/:
 MM;=O\Z@%H:'NY-.[!81#N=>5-MR-\E)/*%)9UZ_A'R@F1._3S+P^9,,710MU
 M"_4-=?CJ.^#$_V15:-IH@S"K:O-BB_<P42)P.,`C:X.'%I"*T`"^NJT5%5/L
 MC//9`]'D.T/46MG6!MJK6P]D;5#-8<J51&W:HL;((*UXC#:H9GA2UNM6->,;
 MT`?6E=>4:XIJDV@5$,:*!K*THI$%2/"*%Q2"6C(P'Y"8]';SSVNJ1(O^8_)@
 M*>JF@>J"OY`-1KVS@5\GA1<NA(_N*<#%!K/>=J"'%:50E:K]C`+-:IT-2=F>
 M+3(M&;"N93%,DVLA92'\TL4_VIB!0:YKD-SNL>N4UQ-3$@N^4P]$MI)C#/.O
 M52'\9;K3K")70#%)Z`BAFJT1V9]M4&<;Y01PHW&(CKQ1UEXYTA3*]AN1(N.?
 M;)?I3'=K4+NK#(D\D95!'3[%B+,+F_F-=[HRBFO?+QN$8%2*:IHW/*H;!)R2
 MP6G5!2PX[1CP5[6J:ZW]K`CQT[2JA'AD.`NQ-F2>G`D5CX7#&SQ5K0Y"[Q=%
 MD1L!Y8E\\Z4(-K"D`DJ$=Y=U+>Y9M)0X4',#-8*%0YMH<_9<[FYFP>^H>8TT
 M1G*H84VBP//K@H3%7`0W[&V-!VWV@">J,]J8!(P<$CMW76(@#8,T"N]VV5TO
 M4[ERDC7&&JI)J+(L6C=F`+?OM;)!#2I2VF]ZGH:4?`JS8R4X!V@R"P^EO7*N
 M9T`'W?O`#'7E)%MXR.V7^1N^_`MX67^"%_,-7]9W?$%[3;+P@D?^'3RRMH$4
 MQKA!/SXOQFI1:*")`X;'$T<?U#>'/20M,&LWS3N673&!8E`R7DM4]YL>VLRI
 M759I&_RXNO.3N1@PG!K>LI!8+<E_1("$+@H:(F)ZM&F.B`B0@:HP9(,8,:!E
 MGOX!)7*WK522LD:0.[B>2"TU692B2"`5W[,2.212H$AM#X--0-^5NH$8X,DH
 MZ9%1(&A4A+T:N\EO49;-*P5'CO)<\0Q89/>EYBXR(>/-,C'&U@RCKTU5I#YD
 M`;L]=X0:%P_`D5H)G;&`$[#AX"&U>)\B^:T]FEH0VT`OXK49R344$C7I\Y*)
 MHGK?QG&_S62(&J[$*\&'%1%621L8#)6O+AR:'7S?^1BT;10Z`MRV"[B1'84,
 MDL\8M3P:)-UU^HY6UDZ4%;2NKN9%&Z@L*@74,;(-U)Z=5K?*_2X04S[D%Y8#
 M;^ZU[>;:HH)">H2@EO3VOJ53A^"_5%/'_::42'VH\0*<::,#H8LD$?J'^M0@
 M4,;P@5?=:-/J0=N<TIYU/W6<C-7JK^M4,P/M%*`_N5)'0QL\L/=KC#VUH2?=
 MM6*M^F!=K#H=:)Z[WI(D5DU7*P/[TL]=HOVVVP/15>YVE\R3=$@/AX>_(79>
 M^^5ON:#;8IT,P1MY5PI_]GFLOB%4/A9LL!/:&]W5?\9!Q_RA*<J+`DR55;(B
 MG^I4UR_Z=9L5]JM9$;7F_52CFN)O,49][:7`(#-#@*27((12O$>:WC"[.%J@
 M42#Z48T$ZJU&F")]%2/6U(F^M!`SM$NKQ><[(>;8BHWY_%K&P%M3IE<T::N3
 MU:8/?9\%#Z+UFJBMG)"1HH=<5A.!.DI84;0%JAJ'D!S*IFK36`XJ+TK(W:_5
 MZ)LT^L[!T&[QF04V*-Z[/."83PF-B%T?N^\&]5'-VE<'V3@--_$?P`/WU@=$
 M@M:02,#F&C)0&^68,R1M1&)JRS)J9(:]T-A`9I+=B'?K=%5[R&J[BUIO*4KG
 M>(;!W;7B#;"KE]G@&NTMU/8S*A%O&S6G?<N@4$*8#F?7[8IW?0_%USLI71$$
 MH<C_H'UN&50*2U_^(V-Q1VFZ0NZ/IDW!VCS9M9I.(LW&Y!,BAX=`(;B[WPV'
 MHWTI9)>^/`C."\LQ!R9KPCPJ8=_^%V(K(:>8G'TT<3RK-#*5B^O!O_&,VN.@
 M+;1WWQHL7MMV>1L,(M";>?Y4,%+:,@(W#6`9R=WC@`@MN@]3LA6YW4E>9,::
 M?A(62$K?G@@6INT0K)J['GRK50)47TG2(HTM5T,U;;?7EG*D&QXE#9`,(S^R
 MTVY97*=^Z0L#61T/J[WM5?/J&H2C32B>%UU+"V)?M1;P95.+-_JNA7A)37?M
 MJ]0.\V3(DI8`,NT11OZ.F]0X+>82>]#T9:T(($DED=3`-R"7;U*+4[5;6TOX
 M:1JU/XXL6R1G,R5EUULPZ(#XVS>;\+_82JW;+D'O5PF9Y.^RJA=KAONMAJ3-
 MN?`%::R]`5NFE[$#FCA]P2[VIS(O6?:6TJ)VG);%@J?JG?:ZZ6M?>HX9U;8=
 M^H8!E?\4VVZA^!_L[N,%%/3>!123AS8U,OVW60JY:!5B;`<$ZOM)65\G`&^T
 M=T,+I3A&%YS#1<8-B`'!15\&VI9'JZA.?374<W>N]EY+WW=.%U"YGG;X0<Q:
 MM$$NWQ6O!=G=6^L;6?JNZ.JMDM9'.X=*DS@<'E-'7L/^&.QZ6RU5[9[[2FD\
 MI->T[]$A*WE3_MIP<VW>"EK:YM+Z`H.VQ1;U1!CZW563X_Z\?M7JR-O":8-D
 M>L\W7Q?@L;CQT8UUV_;LJWDW7.))N#P6]EX>ES$K-T%+%NP+.1P,D;F'<GV2
 MM?PVOGMYJCO\_?)R6<N\UR\_K__/+V]^7)\B4N2Q*]K<`)$Z[?_"LI4E^/\V
 M]>=KZMN=>O/,_<TE`LC?QX[X+9.T3WW)`MX]1"?'S[CN^5[\!L1P]?+KU9^+
 MMQO8S[B4KP=K*G\N>T=.6K90FP%8-LI3G)#U+L\NGM&SASQ^F=IGQT^#6V^S
 M+N`$=/V6GV8=J:-]BF]>>E`ZU?;>H.I[`QA(;2/0M\1&2XB?NC-_*$N*T^IK
 M"<T9[>[#VQ<MJX7XK0H0=]2`*B`*?O%"JO3^(;8[0@"Z^J1W(WZOMX_1BW;6
 MJ6G4U6E4,YRSF?8D<=8Z5X<@0`XFWPLY+G#,#H:59,T/W)L7]R@FS#VVA4E6
 M6WYTT?1OJ%=_H)[YSWQ3]/]V(:S.:N9_`>B$T-N!PBRN```!A&E#0U!)0T,@
 M<')O9FEL90``>)Q]D3U(PT`<Q5]3I2H5!S.(M)"A.ED0%7'4*A2A0J@56G4P
 M'_V")@U)BHNCX%IP\&.QZN#BK*N#JR`(?H"XN3DINDB)_TL*+6(\..['NWN/
 MNW<`UZ@HFM4U#FBZ;::3"2&;6Q5"K^A%!#RBB$J*9<R)8@J^X^L>`;;>Q5F6
 M_[D_1[^:MQ0@(!#/*H9I$V\03V_:!N-]8EXI22KQ.?&821<D?F2Z[/$;XZ++
 M',ODS4QZGI@G%HH=+'>P4C(UXBGBF*KIE,]E/589;S'6*C6E=4_VPG!>7UEF
 M.LT(DEC$$D0(D%%#&178B-.JDV(A3?L)'_^PZQ?))9.K#(4<"ZA"@^3ZP?[@
 M=[=687+"2PHG@.X7Q_D8`4*[0+/N.-_'CM,\`8+/P)7>]E<;P,PGZ?6V%CL"
 M!K:!B^NV)N\!ESO`T),AF9(K!6ERA0+P?D;?E`,&;X&^-:^WUCY.'X`,=96Z
 M`0X.@=$B9:_[O+NGL[=_S[3Z^P&,1W*QO0P5YP``#E%I5%AT6$U,.F-O;2YA
 M9&]B92YX;7```````#P_>'!A8VME="!B96=I;CTB[[N_(B!I9#TB5S5-,$UP
 M0V5H:4AZ<F53>DY48WIK8SED(C\^"CQX.GAM<&UE=&$@>&UL;G,Z>#TB861O
 M8F4Z;G,Z;65T82\B('@Z>&UP=&L](EA-4"!#;W)E(#0N-"XP+45X:78R(CX*
 M(#QR9&8Z4D1&('AM;&YS.G)D9CTB:'1T<#HO+W=W=RYW,RYO<F<O,3DY.2\P
 M,B\R,BUR9&8M<WEN=&%X+6YS(R(^"B`@/')D9CI$97-C<FEP=&EO;B!R9&8Z
 M86)O=70](B(*("`@('AM;&YS.GAM<$U-/2)H='1P.B\O;G,N861O8F4N8V]M
 M+WAA<"\Q+C`O;6TO(@H@("`@>&UL;G,Z<W1%=G0](FAT='`Z+R]N<RYA9&]B
 M92YC;VTO>&%P+S$N,"]S5'EP92]297-O=7)C945V96YT(R(*("`@('AM;&YS
 M.F1C/2)H='1P.B\O<'5R;"YO<F<O9&,O96QE;65N=',O,2XQ+R(*("`@('AM
 M;&YS.F5X:68](FAT='`Z+R]N<RYA9&]B92YC;VTO97AI9B\Q+C`O(@H@("`@
 M>&UL;G,Z1TE-4#TB:'1T<#HO+W=W=RYG:6UP+F]R9R]X;7`O(@H@("`@>&UL
 M;G,Z=&EF9CTB:'1T<#HO+VYS+F%D;V)E+F-O;2]T:69F+S$N,"\B"B`@("!X
 M;6QN<SIX;7`](FAT='`Z+R]N<RYA9&]B92YC;VTO>&%P+S$N,"\B"B`@('AM
 M<$U-.D1O8W5M96YT240](F=I;7`Z9&]C:60Z9VEM<#HV9#9B9CEA82TV-&$U
 M+30S,3@M83(Y,BTY8S`P-S,S8C8X-#(B"B`@('AM<$U-.DEN<W1A;F-E240]
 M(GAM<"YI:60Z.&,V,S@W.60M,S,U-"TT86$P+6$W,#0M-&$Y,3-E,S1B86(V
 M(@H@("!X;7!-33I/<FEG:6YA;$1O8W5M96YT240](GAM<"YD:60Z.#AF.68X
 M8F4M-F4V9"TT-68U+6(Y8C4M8C@T8SDY.#`Q,C!D(@H@("!D8SI&;W)M870]
 M(FEM86=E+W!N9R(*("`@97AI9CI#;VQO<E-P86-E/2(Q(@H@("!E>&EF.E!I
 M>&5L6$1I;65N<VEO;CTB-3$R(@H@("!E>&EF.E!I>&5L641I;65N<VEO;CTB
 M-3$R(@H@("!'24U0.D%023TB,BXP(@H@("!'24U0.E!L871F;W)M/2),:6YU
 M>"(*("`@1TE-4#I4:6UE4W1A;7`](C$V,S(X-C`Y.#@P.3<V,#0B"B`@($=)
 M35`Z5F5R<VEO;CTB,BXQ,"XR-"(*("`@=&EF9CI#;VUP<F5S<VEO;CTB,"(*
 M("`@=&EF9CI/<FEE;G1A=&EO;CTB,2(*("`@=&EF9CI0:&]T;VUE=')I8TEN
 M=&5R<')E=&%T:6]N/2(R(@H@("!T:69F.E)E<V]L=71I;VY5;FET/2(R(@H@
 M("!T:69F.EA297-O;'5T:6]N/2(V,#`B"B`@('1I9F8Z65)E<V]L=71I;VX]
 M(C8P,"(*("`@>&UP.D-R96%T;W)4;V]L/2)'24U0(#(N,3`B"B`@('AM<#I-
 M;V1I9GE$871E/2(R,#(P.C`X.C`X(#$T.C`X.C(P(CX*("`@/'AM<$U-.DAI
 M<W1O<GD^"B`@("`\<F1F.E-E<3X*("`@("`\<F1F.FQI"B`@("`@('-T179T
 M.F%C=&EO;CTB<V%V960B"B`@("`@('-T179T.F-H86YG960](B\B"B`@("`@
 M('-T179T.FEN<W1A;F-E240](GAM<"YI:60Z,SAB,SAE8S@M-V0U8RTT9&5F
 M+3AE8V8M-V,S83DQ-C4W9F0T(@H@("`@("!S=$5V=#IS;V9T=V%R94%G96YT
 M/2)':6UP(#(N,3`@*$QI;G5X*2(*("`@("`@<W1%=G0Z=VAE;CTB,C`R,2TP
 M.2TR.50P,#HR.3HT."LP-#HP,"(O/@H@("`@/"]R9&8Z4V5Q/@H@("`\+WAM
 M<$U-.DAI<W1O<GD^"B`@/"]R9&8Z1&5S8W)I<'1I;VX^"B`\+W)D9CI21$8^
 M"CPO>#IX;7!M971A/@H@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@"B`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`*("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M(`H@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@"B`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`*("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@(`H@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M"B`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`*("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@(`H@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@"B`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`*
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@(`H@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@"B`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`*("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@(`H@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@"B`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`*("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@(`H@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@"B`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@("`@
 M("`@("`@("`*("`@("`@("`@("`@("`@("`@("`@("`@("`@"CP_>'!A8VME
 M="!E;F0](G<B/SXE/WL'````!F)+1T0```````#Y0[M_````"7!(67,``%Q&
 M``!<1@$4E$-!````!W1)344'Y0D<%!TP7QC]VP``#0I)1$%4:-[MF4ML7-=Y
 MQW_G<9]S[PQGAB^1$DGK8=ERI/HAVW5:):[KQDW1-D6[;-`'4'01H`B@++PH
 MW$T6119VT:;M*D6+(MT4:(%NVCA``CMV;:>67_5+EDR)EDB1$LD9SGOFSKWW
 M='%GR!%%6U3:77V`#V=FR+GS_Y_O<;X'?+X^7_^_E]CW?S[\>[/`&4RZ@)`.
 M4H&0NT1D@A@\>?AX`V:X#R6]6=($3-I#R"7@)5[_QY7_&P*GOWX:8[Z-$$\A
 MI$`J,O`*Y&[P<@!>['J\&6QF0"*]F42:@DDR$AD1@S'/(\0SG/O^N9^=P.FO
 MGP6^@Y`:J4'I$>#9[ED6"U-%+,NBW8VX6FG12\V(%M@Y_5LT8#+@0Q)I`B:&
 M9$@DB8&G.??]YSX-HOI4\(_\_ED0SZ(LB;9!6Z!L4-D^[KE\Y=0"C]VW0*)L
 M$FWAY7),E@J8!)H)(#7;Q.6HJ)%]Y$"$W'DO)=D'YBD.WM]@Y9U7]Z^!G_^C
 MTYCD5:32MP`0V:E_XS<>(<B'S([G25/#:^\N\?:5"K;K`+"^4>?R5N=33&@O
 M\QDUHSB39+"G28Q0C_':]\[M3P.'3O\=4M^-M@>G;H.V4=KFY,(,9[ZPP,,G
 M#Y.FT&A'>*Z+=EVF"SZ75K90GDLNS.$(234RNTY[EXSZDE0COC3B7PB)$'-<
 M?>.?;D_@R]^<!?,W*$N@K!W3T1;SY0*%TACS$P5F)L:H-CI<W&BSLMX@YSGD
 MPAR')O*<7ZI@^2Y^X*-202TF`Z=N1V!70+@Y*!SAKE_X'I_\M#$*5]YJ5/),
 M!MX&[0S$!N7@!P$HB\U&C[5ZCTX"J=`(Q^/%MY?I=!-R^8"O/'R89J,/RF)Z
 MNLQ4D!MYUFX9^1WE##0^_'SPM\SW!$*=V0U7[F%`"T.3V3:AP6NA+%`6M4Y"
 M(B1Q*MG8ZH+2A!,E?OCF-7I12E`(>>+4(6K-&+3%H=EQ`M?;!3H#=]!R>"+H
 M,V?;M_Y]-PYA%G:#U;?&)<O)G-;*G%=9VY$D,HJ<LKA:[X)0!/D<2YO7L8.$
 MP/>PBO#CM];XE4?F*$\4>'0AYJWK;3S/XNA,D7=6ZIB!(W\K7.&K\Z]RN/RO
 M6-J0)'!Y\]?XX:4'^?/5B1T32L2.&26QLP\"=F:KRAJ0L+:C4#>1H"QL3U"K
 M]R@4<QPIYUAKQ1S(6TBE20+%J^^N<>;!0QR^:X+UVC5NI`+;=3@V'G)AL\7?
 MCK_"$\?^@ND2Y')C2%W`I&W*8__!7.G?.7;A#_GC"P\0C_I`,HBJMS6A[7@_
 M5-W.^\T(A-*XOL_U2@>$8G:R0"\RK#;[2*F1ED5%VGRP6,$(Q4,G9TC;"4C%
 MV)C/G^;/\]A<!CY?N@<]_NO(R=]!C?\FN=)#3)4$CRS\/7\V_7'VVZ.14%G[
 M(*"LFV5(0ENTT42Q0&C-XD8/(2634WG:W2Q4MB-#/#CM=RLQ&YL=E&7QY5/3
 M5!LQ3M3EH?"O*03@^WE$^""4SL#D4U!^')$_C9>;I1C`0U/_S'TJO17/;0E(
 MZ]8O#45JFMT$A*(A-+5&#Z4U]X[[&"%Q/(?U6HR1BOR8SPL7ZO1C0V$LQP-3
 M/O.;'^`[U[$U2!V"-0[N02B<`G\>K`F$*F!I\)PU'K97!_YG[9CT[36@=X'>
 M`8_4K+<R<P@"AT\VV^!I#M]=HJD%N(J<;[-9CT$HW#&?-\YO(:3DZ'R!,%HG
 M22%.P21-Z%>AMP;U\]!9@7X%DS2(!Q=SCHW!_?'I&M![FM!VSC)TX.&E(]E*
 M4WJ!P)DJ\8&Q.5$N,C:E*,D"?9T2=MJ\]^$-PGZ*XUI<;<4LW.A0RH,NNC3:
 MT.I`NU,C;+Z-D!:T+D)<PS3>IM=>IM6%>AM:/0-Z$(V,V3-IN)7`,/=1N\`C
 MP8EAOLQ6>9*I<@E7N2S'-O.AY.2<S\NU!#_7X]!]'I>O7>=XFA($#B]?[O#5
 M$PXM&;!6@>D2>`X(WL6/KB/U&"9IT>VL4JFGK&_!6@66>T6P!TD>^R6@=F>-
 M*@ME5AL6IJ$\PU6WR(27QW<L+J6"!VQ#L0SG(XN.M"DHBZN1I-*Z0;G=Q\D[
 M?/A)EXGR/(L?3%/(K:$D1'T(6C?0^@9)"NTN;-3@TBI\O#K/ZV)R.X'$I'>@
 M@2'X81Q.FW"@`/EQ"`JD?DBL;![PH*#`,S#MPF]-&'Y4EVP(C[GQ,2[T(_)R
 M`ZNN^:BI*.7S+(__+M;E9^E%,#,.A1Q8*O.+1ANN;<+%%7BM_B2U<IA%06/`
 MZ#LA,))@I3&$/0B+X.7`\="N0T'!81<..J`03-N&4,.5+KA*D(0>82/D6J7)
 MO-6@6"CQT:;/\6.G.?_&'U"[\`],;T`Q`%M#/X%:"]8JFO?:O\TK8\?`+61X
 MTF1@"68_!$:R0H!^!<(Q<+SMO&32$ARP("_AD`L%#;8$1\*C!<-F16!IR5S>
 MY;V:R[C9)$=$PQ^C[Z:$)Q_GXH?C?'SE+8KI.SAZ@RB9I<IQ+NF[N5(X!(49
 M<'(C-?4@W;XM@=$B/8E!M$!/CCBT))`0*%`B`S_G03L1M%/#C`=%"5H(?$<Q
 M[5HL;QJ.RSIA?H;%6HDO'G:QW1PO).,H^262.&&Y%F$L%_P2A)/@A#L6,$RU
 M4W,'!!"#+_<&Y=U.7=LWT#?0,U"/H1E#E,)Z)$@PW!<:?E`7Y(UA)M"\G4*]
 M624_?H"VEZ,C`Z:/Y7E43O#.M0J^C)ENI:SV+;#\3-.0_;X9;1S<$0$RSX_;
 M69&=#$J\.&8SAHT^7(]@L9T=C`&6.E"PLM\\I5,N=A(L#$=\Q?)RA1/EE)QO
 M\?Z-F"=/E3C^A9#W.QOX@<".4U;7.IG#9F7D'FT;LX^;6(RT1=($^CV(NH,]
 M>UV/8B[VX$('WF_!N3I\W(8;?7BA(MA,X'@^(6UVH!]1=`1.FM!HQ2`E%:&H
 MUE.T;7/J0(C1'K;G,>4[NZJR/>3V!8T8U*,BTT"40J<)W3;T.MG>:7.QDW*N
 M!:\WX<4:G&O`AQWX:0NN;B7(M,^72H9:M0[=-G/%/*O-%(0DR%E<6(U!"!9F
 M?.KM%(2@'-A[G+K<J9'WZ$'HS]2`D!`!S2JT2H-(I$%*C$E9BGVN6!I7"D()
 M\ZZ!N,]/-EI\[0"47<.]HLV5VB:6763:]6CW!+XK6.S"_9'!]33SKJ(N(.=K
 ME!`D-W7X1O;]:X"LV-8VB#QLK4-M`QI;T*I!<RN3>H6T7J-=KW-]JTYELP:M
 M.G;2XIW%&]#K</*`A[R^"G:9?,$E-MD%&>8TR^LQ`'=-.?0B@Q""`Y[>&_SP
 M</>M`2&S^C28@(VKX*P,LD&3.76_![:;D1Q$J<4D(0C`3OLL5JK,1BG3GN'Q
 M!WZ.?UMV*&J'T%((4K26?+09<?2@S539H;W4Q@D%@:>A%>WJL0YPF?T0&"6B
 M[2P>.P?AQE+VP*2?.;6?!\?-*CB1W9(F2?BDVN=H(`A[=5[\KT6^=FJ!W.0)
 M'O=#_K.J"7Q)R89:-Z4J!(U60N`)[LHIMC!XCKJC[N=G$Q`6N'G('X"-)JQ>
 M@J@#[3H$17!S8-G9!6<R^Z_VVJR+'I-V2FAZ_.0\/#F;8W8FY&0*Y]L);6E8
 M*"CBOF1S*R;P+"9#Q5:KCVU)Q.ZD08@[("!D;[L-J!38?F9&:0)5!=<N0Z,*
 MP1AX`5C.@$`*_0BZ+9::6_A3LP1S#]$+#_+F%<7I$YI[YJ!U,6&E:S@4"(Z6
 M--5JCWE@+-3TMR(L92A8DJW>"*9A+3#$]ID$+'>)N'=S<N?FLU-0&IIYJ"]#
 M[0I8#`@,"HY^!"H/P3P?<9B3_@'LP@3+TB>\FG+/(<&#1S3IQ9A6)Z7@0=^7
 M.$J0<W=R?KE]_N9F75CNTCXTH%^"R(`1&$`.?$$5,Z=V`O"+T&M!U"(CFX+E
 M0KX`7AYRXR3Y:2Y&)>[1.1Q+\7XS02\;CLY('CYJ<>5Z1*>?@H3)G,1&H[6`
 M-*7:3W=.?;LU+PQ2O71[`M_]I16^\8/G,>97MSO)0F1M#<\&.Y<E7/U.!CZ-
 M,T?3=F9N;AZ\,?`*M"R?2U7#D5*"9QG^NY:0Q(:[#VKNG;$P<<)F"Y+4(,BD
 M6H^VFU\[W6Q`JN?YJR=6]N?$VGF&N/LDQNCMAS!HT&H[2W.'[?'A=:)TIB'+
 M!>UNA]QJ%+.X`8=+$M<R7&@GM!;[/';$H9Q3.!K6&C%+5YM<6NNPT8U&AB##
 M`R1&.\_<V83F3WYTEC1^=F<8,1Q6C`PG;IK6##\?#BMN?G0@#4?')+9E($WQ
 MI.'^LD(F,5?6N_S+Y>;(="8>D02D_A;?_>7G[GS$],T7SI+&.R.F/:<KGS$S
 M&P;$@1T+DW*7+\A[`B526NT^YRO=G=G8$/`0O$ECI'Z:OWS\N9]]R'?VE=.D
 M\;>!FX=\>VIA-_C1-3*9^=2IS,B0#YY'ZF=X[HO_BR'?Z'KZS8,8\XLDT0)"
 M.#O@=WI&MYS^[B'?[O'J#N#!B9L>VEX"\3+?>7#Y\RGXY^OS=?OU/XRY9:2.
 /-,<L`````$E%3D2N0F""
XSBC-Maemo-Display-Name: lagrange gemini client
