[Desktop Entry]
Encoding=UTF-8
Name=Lagrange
Comment=Lagrange gemini client
Exec=/usr/bin/lagrange
Icon=lagrange
X-Icon-path=/usr/share/pixmaps/
X-Window-Icon=lagrange
X-Window-Icon-Dimmed=lagrange
X-HildonDesk-ShowInToolbar=true
Terminal=false
X-MultipleArgs=false
Type=Application
X-Osso-Type=application/x-executable
